<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- Use correct character set. -->
  <meta charset="utf-8">
  <!-- Tell IE to use the latest, best version. -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Make the application on mobile take up the full browser screen and disable user scaling. -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <title>Object Float Demo</title>
  <script src="../Build/Cesium/Cesium.js"></script>

  <style>
      @import url(../Build/Cesium/Widgets/widgets.css);
      html, body, #cesiumContainer {
          width: 100%; height: 100%; margin: 0; padding: 0; overflow: auto;
      }
  </style>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Angular library ***Note this is duplicating downloaded code in js folder!*** -->
    <!-- Angular 1.4.8 and UI Boostrap 0.14.3 -->
    <!-- <script src="js/angular.min.js"></script> -->
    <script src="js/angular.js"></script>
    <script src="js/angular-messages.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-aria.min.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/ui-bootstrap-tpls.min.js"></script>
    <!-- Angular UI Bootstrap tpls 1.1.0-->
    <!--Main App-->
    <script src="js/form.js"></script>
    <script src="js/controllers/websar.controller.js"></script>
    <script src="js/controllers/modal.controller.js"></script>
    <script src="js/controllers/modalInstance.controller.js"></script>
    <script src="js/services/object.service.js"></script>
     <script src="js/directives/input.directive.js"></script>
    <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body ng-app="webForm">

	<div class="container">


			<div style="font-family:Dotum,Arial,sans-serif">
				<h1>Clear Science Inc.</h1>
        <h2>Object Float Demo</h2>
			</div>

			<div class="text-info">
        This is a demo of a Clear Science Inc. project designed to model an object's float predictions
        based on data predictions using the Cesium viewer. This uses only controlled data to show what
        future functionality of this application will be able to do. As this project develops, increased
        functionality will be added to this demonstration.
			</div>
    <div id="lat"></div>
    <div id="lon"></div>

      <div ng-controller="cesiumCtrl as cesiumCtrl">
        <button type="button" id="startDemo" class="btn btn-primary">Start Demo</button>
         <div cesium-directive id="cesium1" class="cesiumContainer"></div>

      <div id="cesiumContainer"></div>
      </div>

<form name="form" novalidate ng-controller="WebsarController" style='margin-top: 50px;'>

          <div class="form-group" ng-class="{ 'has-error': form.uObject.$dirty || form.uObject.$invalid}">
            <label>Object:</label>
            <div>
              <button type="button" class="btn btn-default btn-sm" ng-repeat="object in objects" ng-click="toggle(object)" >
                <span class="glyphicon glyphicon-{{object.glyphicon}}"></span>&nbsp;{{object.category}}
              </button>
              <div ng-repeat="object in objects" uib-collapse="object.isCollasped" class="well" ng-show="!object.isCollapsed">
                <blockquote class="bg-info">{{object.category}}</blockquote>
                <div ng-repeat="items in object.values">
                  <input type="radio" ng-model="user.objectID" value="{{items.id+ ' - ' + items.name}}" required="" ng-change="toggle2(items)" />&nbsp;{{items.name}}
                  <div class="well" ng-show="!items.isHidden">
		    <div ng-repeat="value in items.sub" ng-show="!items.isHidden">
		      <input type="radio" ng-model="user.objectID" value="{{value.id + ' - ' + value.name}}" />&nbsp;{{value.name}}
		  </div>
                  </div>
                </div>
              </div>
              <div>
                <label>Object Selected:</label> {{user.objectID}}
              </div>
            </div>
          </div>
          <fieldset>
            <legend>Start of Drift</legend>
            <div class="row">
              <div class="col-md-8 form-group" ng-class="{ 'has-error': form.uDate.$touched && form.uDate.$invalid}">
                <label>Start Date:</label>
                <p class="input-group"><input class="form-control" type="date" uib-datepicker-popup ng-model="user.date" is-open="status.opened" name="uDate" required="" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
                <div class="help-block" ng-messages="form.uDate.$error" ng-show="form.uDate.$touched">
                  <p ng-message="required">Start date is required.</p>
		  <p ng-message="date">Invalid date</p>
                </div>
              </div>

                <div class="col-md-4 form-group" ng-class="{ 'has-error': form.uTime.$touched && form.uTime.$invalid}">
                  <label>Start Time:</label>
                  <input class="form-control" type="number" ng-model="user.time" ng-pattern="patterns.militaryTime" name="uTime" min="0000" max="2359" required="" />
                  <div class="help-block" ng-messages="form.uTime.$error" ng-show="form.uTime.$touched">
                    <p ng-message="required">Start time is required.</p>
                    <p ng-message="min">Can't be less than 0000.</p>
                    <p ng-message="max">Can't be greater than 2359.</p>
                    <p ng-message="pattern">Must be 4 digit military time</p>
                  </div>
                </div>

                <div class="col-md-8 form-group" >
                  <label>Prediction Length: (-120 to 120 Hours)</label>
                  <input type="range" class="form-control" ng-model="user.times" name="uTimes" min="-120" max="120" step="1" required="" />
                </div>
                <div class="col-md-4 form-group" ng-class="{ 'has-error': form.uTimes.$touched && form.uTimes.$invalid}">
                <label>Hours</label>
                 <input type="number" class="form-control" ng-model="user.times" name="uTimes" min="-120" max="120" step="1" required="" />
                 <div class="help-block" ng-messages="form.uTimes.$error" ng-show="form.uTimes.$touched">
                    <p ng-message="required">Field is required.</p>
                    <p ng-message="min">Can't be less than -120 hours.</p>
                    <p ng-message="max">Can't be greater than 120 hours.</p>
                  </div>
                </div>
              </div>
            </fieldset>

            <fieldset>
            <legend>Last Known Position</legend>
              <div class="row">

          		<div class="col-md-6 form-group" ng-class="{ 'has-error': form.uLong.$touched && form.uLong.$invalid}">
          		  <label>Longitude:</label>
          		  <input class="form-control" type="number" min="-180" max="180" step="0.0001" ng-model="user.latlong.lon" name="uLong" required="" />
          		  <div class="help-block" ng-messages="form.uLong.$error" ng-show="form.uLong.$touched">
          		    <p ng-message="required">Field is required.</p>
          		    <p ng-message="min">Can't be less than -180</p>
          		    <p ng-message="max">Can't be greater than 180</p>
          		  </div>
          		</div>

                <div class ="col-md-6 form-group" ng-class="{ 'has-error': form.uLat.$touched && form.uLat.$invalid}">
                  <label>Latitude:</label>
                  <input class="form-control" type="number" min="-90" max="90" step="0.0001" ng-model="user.latlong.lat" name="uLat" required="" />
                  <div class="help-block" ng-messages="form.uLat.$error" ng-show="form.uLat.$touched">
                    <p ng-message="required">Field is required.</p>
                    <p ng-message="min">Can't be less than -90.</p>
                    <p ng-message="max">Can't be greater than 90.</p>
                  </div>
                </div>

              <div class="col-md-8 form-group">
                <label>Navigational Position Error: (0-200 Miles)</label>
                <input class="form-control" type="range" ng-model="user.error" name="uError" min="0" max="200" step="0.1" required="" />
              </div>
              <div class="col-md-4 form-group" ng-class="{ 'has-error': form.uError.$touched && form.uError.$invalid}">
                <label>Miles</label>
                <input class="form-control" type="number" ng-model="user.error" name="uError" min="0" max="200" step="0.1" required="" />
                <div class="help-block" ng-messages="form.uError.$error" ng-show="form.uError.$touched">
                  <p ng-message="required">Field is required.</p>
                  <p ng-message="min">Can't be less than zero.</p>
                  <p ng-message="max">Can't be greater than 200 miles.</p>
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <legend>Desired Output Formats</legend>
            <div class="row">
              <div class="col-md-12 form-group">
                <label class="checkbox-inline">
                  <input type="checkbox" ng-model="user.KML" name="userKML" />KML
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" ng-model="user.CSV" name="userCSV" />CSV
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" ng-model="user.TXT" name="userTXT" />TXT
                </label>
              </div>
            </div>
          </fieldset>
          <br />
          <div class="col-md-12 form-group" ng-controller="ModalDemoCtrl">

            <div style="display:inline-block; position:relative;">
              <button type="submit" class="btn btn-primary btn-lg" ng-disabled="!form.$valid" ng-click="open('lg')">Submit</button>
              <div uib-tooltip="Missing required fields" ng-show="form.$invalid" style="position:absolute; left:0; right:0; top:0; bottom:0;"></div>
            </div>

      <script type="text/ng-template" id="myModalContent.html">
    		<div class="modal-header">
    		    <!--<h3 class="modal-title">Results</h3>-->
            <em>Create {{imageCount}} images in {{imageTiming}} seconds</em><br/>
            <em>The calculation of drift positions took {{driftCalcTiming}} seconds</em><br/>
            <em>The download of data took {{downloadTime}} seconds</em>
    		    <button ng-click="ok()" class='btn btn-danger btn-xs pull-right'>X</button>
    		</div>
    		<div class="modal-body">
          <div>
            <uib-carousel active="active" interval="0" no-wrap="false">
                <uib-slide ng-repeat="item in items track by $index">
                  <img ng-src="dynamic/{{item.image}}" style="margin:auto"/>

                    <h3>SLAP Data</h3>
                    <div class='row'>
                        <pre class='col-md-10 col-md-offset-1' style='font-size: 12px; padding: 0;'>
                          <div ng-bind-html='item.slap'></div>
                        </pre>
                    </div>
                </uib-slide>
            </uib-carousel>
          </div>
    		</div>
    		<div class="modal-footer">

    		</div>
      </script>


        </div>

        </form>
 <script src="js/app.js"></script>
    <script src="demo.js"></script>

<!--     <script> (function(){
    angular.module('webForm',
              [
                'ngMessages',
                'ngSanitize',
                'ui.bootstrap'
        ]);

})();

      (function(){
  angular.module('webForm')
        .controller('WebsarController', WebsarController);

  WebsarController.$inject = ['$scope', '$http','ObjectService']

  function WebsarController($scope, $http, ObjectService) {
    //Object structure to store all categories of objects with the associated flags, icons, and values.
    //Values are coded with id numbers and name/description
    $scope.objects = ObjectService.objects;
    $scope.map = MapService.getMap();
    $scope.user = MapService.user;

    //Watches for changes in form values for longitudue and re-centers map
    $scope.$watch('user.latlong', function(oldValue, newValue) {
        console.log($scope.user)
        $scope.map.getView().setCenter(ol.proj.fromLonLat([$scope.user.latlong.lon, $scope.user.latlong.lat]));
      });

    // //Watches for changes in form values for latitude and re-centers map
    // $scope.$watch('user.latlong.lat', function(oldValue, newValue) {
    //   $scope.map.getView().setCenter(ol.proj.fromLonLat([$scope.user.latlong.lon, $scope.user.latlong.lat]));
    // });

    //Pattern used for validating 4 digit military from 0000 to 2359
    $scope.patterns = {
      militaryTime: /^(0\d|1\d|2[0-3])([0-5]\d)$/
    };

    //Function to open uib-datepicker pop-up
    $scope.open = function($event) {
      $scope.status.opened = true;
    };

    //Variable used for uib-datepicker pop-up to display/hide.
    $scope.status = {
      opened: false
    };

    //Toggle function to turn off other collapsable divs if the a new button is clicked and resets object input.
    //Extra check to make sure the object is reset if a different button is clicked.
    $scope.toggle = function (object) {
      $scope.objects.map(function(item){
        if(item === object){
          if(item.isCollapsed){
            item.isCollapsed = false;
            $scope.user.objectID = '';
          } else {
            item.isCollapsed = true;
            angular.forEach(item.values, function(val){
              val.isHidden = true;
            });
          }
        }
      })

    };


    //Toggle function to expand and collapse sub radio button menus if they exisit.
    $scope.toggle2 = function (items) {
      $scope.objects.map(function(obj){
        obj.values.map(function(val){
          if(val === items && val.sub){
            if(val.isHidden){
              val.isHidden = false;
            }
          } else {
            val.isHidden = true;
          }
        });

      if($scope.user.objectID.slice(0,2) === '-1'){
        $scope.user.objectID = '';
      }
    });
  };



  };
})()
    </script> -->

    </div>
  </body>
</html>

